<!-- About me -->
<div class="container">
  <h1 class="mt-4 mb-4 text">&#60;Full-Stack Developer/&#62;</h1>
</div>

<div class="d-flex container">
  <div class="row d-flex align-items-center border-bottom">
    <div id="about-div" class="col col-12 col-md-6">
      <h2 id="about-on-the-left" class="p-3">About me</h2>
      <img
        id="about-img"
        class="w-100"
        src="../../assets/Screenshot 2024-01-14 alle 15.49.58.png"
      />
    </div>

    <div class="col col-12 col-md-6">
      <h2 id="about-on-the-right" class="p-3">About me</h2>
      <p class="p-3 border-start">
        Amante dei libri, delle letterature e delle culture tutte, provengo da
        una percorso accademico umanistico, che ho voluto arricchire con un
        corso di alta formazione in ambito tech, per sviluppare il mio pensiero
        e le mie potenzialità lavorative a 360°, ma soprattutto per prendere
        parte attiva alla rivoluzione digitale che caratterizza la nostra
        era.<br />
        Ho deciso dunque di iscrivermi al bootcamp full-time di EPICODE, che ho
        concluso dopo sei mesi d'intenso lavoro, per lo più pratico, ottenendo
        la certificazione come full-stack developer.<br />
        Sapevo che sarebbe stata una sfida, e che sicuramente avrei scoperto un
        ambito interessante e stimolante. Ma ho scoperto molto di più. Un mondo
        labirintico, di infiniti linguaggi. Un meraviglioso universo in continua
        espansione. Sebbene con una partenza in salita, ho raggiunto risultati
        significativi, riuscendo a sviluppare progetti di qualità in completa
        autonomia, e lavorando in armonia anche in contesti di gruppo.<br />
        Disciplina ed impegno costante mi hanno sempre portata a raggiungere i
        miei obiettivi lavorativi e formativi, e ora sono alla ricerca di un
        posto di lavoro che mi permetta di continuare a crescere
        professionalmente e personalmente.
      </p>
    </div>
  </div>
</div>

<!-- CV -->
<div class="w-100 d-flex justify-content-center">
  <a class="btn" href="../../assets/cv.pdf" download="CV">Curriculum Vitae</a>
</div>

<!-- Skills -->
<div class="container my-5">
  <div class="row skills-div">
    <h2>Skills</h2>
    <div
      class="col col-12 col-md-6 d-flex flex-column justify-content-center align-items-center"
    >
      <h3>Front-end</h3>
      <div class="skills">
        <img
          alt="angular"
          width="40"
          height="40"
          src="https://github.com/Yanina1992/Yanina1992/raw/main/angular.svg"
        />
        <img
          src="https://github.com/Yanina1992/Yanina1992/raw/main/bootstrap.svg"
          alt="bootstrap"
          width="40"
          height="40"
        />
        <img
          src="https://github.com/Yanina1992/Yanina1992/raw/main/css3-alt.svg"
          alt="css"
          width="40"
          height="40"
        />
        <img
          src="https://github.com/Yanina1992/Yanina1992/raw/main/html5.svg"
          alt="html5"
          width="40"
          height="40"
        />
        <img
          src="https://github.com/Yanina1992/Yanina1992/raw/main/js.svg"
          alt="js"
          width="40"
          height="40"
        />
        <img
          src="https://github.com/Yanina1992/Yanina1992/raw/main/sass.svg"
          alt="sass"
          width="40"
          height="40"
        />
        <img
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
          alt="typescript"
          width="40"
          height="40"
        />
        <img
          src="https://github.com/Yanina1992/Yanina1992/raw/main/git-alt.svg"
          alt="github"
          width="40"
          height="40"
        />
      </div>
    </div>

    <div
      class="col col-12 col-md-6 d-flex flex-column justify-content-center align-items-center"
    >
      <h3>Back-end</h3>
      <div class="skills">
        <img
          src="https://github.com/Yanina1992/Yanina1992/raw/main/Microsoft-NET-Framework.png"
          alt=".net"
          width="40"
          height="40"
        />
        <img
          src="https://github.com/Yanina1992/Yanina1992/raw/main/jquery-icon-png-7.jpg"
          alt="jquery"
          width="40"
          height="40"
        />
        <img
          src="https://github.com/Yanina1992/Yanina1992/raw/main/sqlserver.jpeg"
          alt="sql-server"
          width="40"
          height="40"
        />
        <img
          src="https://github.com/Yanina1992/Yanina1992/raw/main/c%23.png"
          alt="C#"
          width="40"
          height="40"
        />
      </div>
    </div>
  </div>
</div>
