h2 {
  text-align: center;
}

//Carousel
.carousel {
  height: 30vh;
  width: auto !important;
  background-color: rgba(179, 172, 162, 0.2784313725);
}

.carousel-item {
  text-align: -webkit-center;
}

.carousel-item img {
  height: 30vh;
  width: initial;
}

.carousel-item .wider-image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 476px) {
  .carousel.item .wider-image {
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 1000px) {
  .carousel-item .wider-image {
    width: 100%;
  }
}

//Card
.card {
  background-color: rgb(235 232 225 / 27%);
  border: 0;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(179, 172, 162, 0.2784313725);
  }
}
/*card:hover {
  border: 1px solid #7f00ff;
}*/

a {
  color: #7f00ff;
}

.accordion-button {
  font-family: "Poppins", sans-serif;
  font-style: italic;
}

.accordion-button:hover,
a:hover {
  color: #005f73;
}

h5 {
  font-weight: 700;
  text-align: center;
}

.fa-solid {
  color:#7f00ff;
  font-size: 2em;
  z-index: 0;
}

.fa-solid:hover {
  color:#e100ff
}

   .c-b{
    margin-top: 2.7em;
  }

  @media screen and (max-width: 468px) {
    .c-b{
      margin-top: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    .c-b{
      margin-top: 7em;
    }
  }

  @media screen and (min-width: 1500px){
    .btn{
      width: auto;
    }
  }

