<div class="card">
  <!-- About me -->
  <div class="container">
    <h1 class="mt-4 mb-4 text">&#60;Full-Stack Developer/&#62;</h1>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4 div-img">
        <img
          src="../../assets/WhatsApp Image 2025-03-02 at 11.18.34.jpeg"
          class="img-fluid rounded-start img"
          alt="Yanina1992"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ "aboutMeTitle" | translate }}</h5>
          <p class="card-text">{{ "aboutMe" | translate }}</p>
          <p class="card-text">
            <small class="text-body-secondary"></small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- CV -->
  <div class="w-100 d-flex justify-content-center">
    <a
      class="btn"
      href="../../assets/europass20250220.pdf"
      download="cvAgueroYanina"
      >Curriculum Vitae</a
    >
  </div>

  <!-- Skills -->
  <div class="container my-5">
    <div class="row skills-div">
      <h2>Skills</h2>
      <div
        class="col col-12 col-md-6 d-flex flex-column justify-content-center align-items-center"
      >
        <h3>Front-end</h3>
        <div class="skills">
          <img
            alt="angular"
            width="40"
            height="40"
            src="https://github.com/Yanina1992/Yanina1992/raw/main/angular.svg"
          />
          <img
            src="https://github.com/Yanina1992/Yanina1992/raw/main/bootstrap.svg"
            alt="bootstrap"
            width="40"
            height="40"
          />
          <img
            src="https://github.com/Yanina1992/Yanina1992/raw/main/css3-alt.svg"
            alt="css"
            width="40"
            height="40"
          />
          <img
            src="https://github.com/Yanina1992/Yanina1992/raw/main/html5.svg"
            alt="html5"
            width="40"
            height="40"
          />
          <img
            src="https://github.com/Yanina1992/Yanina1992/raw/main/js.svg"
            alt="js"
            width="40"
            height="40"
          />
          <img
            src="https://github.com/Yanina1992/Yanina1992/raw/main/sass.svg"
            alt="sass"
            width="40"
            height="40"
          />
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
            alt="typescript"
            width="40"
            height="40"
          />
          <img
            src="https://github.com/Yanina1992/Yanina1992/raw/main/git-alt.svg"
            alt="github"
            width="40"
            height="40"
          />
        </div>
      </div>

      <div
        class="col col-12 col-md-6 d-flex flex-column justify-content-center align-items-center"
      >
        <h3>Back-end</h3>
        <div class="skills">
          <img
            src="https://github.com/Yanina1992/Yanina1992/raw/main/Microsoft-NET-Framework.png"
            alt=".net"
            width="40"
            height="40"
          />
          <img
            src="https://github.com/Yanina1992/Yanina1992/raw/main/jquery-icon-png-7.jpg"
            alt="jquery"
            width="40"
            height="40"
          />
          <img
            src="https://github.com/Yanina1992/Yanina1992/raw/main/sqlserver.jpeg"
            alt="sql-server"
            width="40"
            height="40"
          />
          <img
            src="https://github.com/Yanina1992/Yanina1992/raw/main/c%23.png"
            alt="C#"
            width="40"
            height="40"
          />
        </div>
      </div>
    </div>
  </div>
</div>
