/* You can add global styles to this file, and also import other style files */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700;900&display=swap');

body {
  font-family: "Poppins", sans-serif !important;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: #e100ff !important;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900 !important;
  color: #b3aca2 !important;
  background-color: #b3aca247;
  padding: 1em 0;
}

p {
  text-align: justify;
}

.btn {
  background: linear-gradient(to right, #7f00ff, #e100ff) !important;
  color: white !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  width: 30vw;
  margin: 1em;
}

.btn:hover {
  color: white !important;
  background: #e100ff !important;
}
